body {
  margin: 0;
  padding: 0;
  background-color: #b7dfff;
  font-family: "Inter Tight", sans-serif;
}

P {
  margin-bottom: 0;
}

.container {
  text-align: center;
  padding: 50px 20px;
}

.header {
  background-color: #091a3f;
  padding: 12px;
  text-align: center;
}

.header img {
  width: 96px;
}

.section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 131.08px 137.01px;
  background-color: #b7dfff;
  max-width: 1440px;
}

.image-group img {
  width: 420.04px;
}

.text-group {
  padding-right: 20px;
}

.text-group h1 {
  font-size: 72px;
  font-weight: 800;
  color: #091a3f;
  line-height: 82px; /* 113.889% */
  letter-spacing: -1.44px;
}

.text-group h1 span {
  color: #4285f4;
}

.text-group .description {
  color: var(--Foreground---primary-foreground, #27272a);

  font-size: 24px;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 38px;
}

.buttons {
  margin-top: 20px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 30px;
  transition: 0.3s;
}

.button-yellow {
  background-color: #ffd700;
  color: #000;
  border-radius: 6px;
  background: #fcc82c;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
    0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.button-white {
  color: #09090b;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
    0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.play-icon img {
  margin-top: -3px;
  margin-left: 5px;
}
.mobile-buttons,
.mobile-note {
  display: none;
}
.note {
  color: #71717a;
  font-size: 16.827px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 12.93px;
}

.note img {
  margin-top: -5px;
}

.image-group {
  display: flex;
  justify-content: center;
}

.image-group img {
  height: auto;
  border-radius: 15px;
}

.feature-section {
  display: flex;
  justify-content: center;
  padding: 34px 63px;
  background-color: #f4f5fb;
  color: #333;
  gap: 50px;
  flex-wrap: wrap;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #202122;
  font-family: "Inter Tight";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature-item p {
  margin-bottom: 0;
}

.feature-icon {
  width: 20px;
  height: 20px;
}

.carousel-container {
  background-color: white;
  padding: 80px 234.5px;
  text-align: center;
}

.carousel-container h2 {
  color: #202122;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.48px;
  margin-bottom: 40px;
}

.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 70px;
  margin: 0 auto 20px;
  width: fit-content;
  padding: 0 56px;
}

.progress-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #333;
  z-index: 0;
  transform: translateY(-50%);
}

/* Left endpoint dot */
.progress-indicator::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Right endpoint dot positioned 5px beyond the line */
.progress-indicator span:last-child::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -56px;
  transform: translateY(-50%);
}

/* Step styling */
.progress-step {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #8a8a8a;
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.progress-step.active {
  background-color: #ffd20a !important;
  color: #000 !important;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 810px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  position: relative;
  gap: 20px;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-text {
  text-align: left;
  max-width: 265px;
  font-size: 25px;
  line-height: 28px;
  margin-top: -110px;
  color: #202122;
  font-size: 25.218px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.821px;
}

.step-number {
  background-color: #ffd700;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 1;
  margin-top: -60px;
}

.carousel-control-prev {
  left: -40px;
}

.carousel-control-next {
  right: -10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
}

.carousel-cta {
  display: flex;
  justify-content: center;
  margin-top: -140px;
}

.cta-button {
  color: #27272a;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  background: #fcc82c;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
    0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@media (max-width: 1390px) {
  .feature-section {
    gap: 30px;
    padding: 20px;
  }
  .feature-section p {
    font-size: 20px;
  }
  .carousel-container {
    padding: 80px 80px;
  }
}

@media (max-width: 1290px) {
  .section {
    padding: 100px 80px;
  }
}

@media (max-width: 1210px) {
  .text-group h1 img {
    width: 200px;
  }
  .text-group h1 {
    font-size: 62px;
  }
}

/* Responsive Design */
@media (max-width: 1075px) {
  .section {
    flex-direction: column;
    padding: 100px 100px;
  }

  .buttons,
  .note {
    display: none;
  }

  .mobile-buttons,
  .button,
  .mobile-note {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
  }

  .image-group img {
    width: 103%;
    margin-top: -20px;
  }
  .text-group h1 {
    font-size: 72px;
  }

  .text-group h1 img {
    width: auto;
  }

  .text-group,
  .image-group {
    margin-bottom: 30px;
  }
  .feature-section {
    gap: 10px;
    padding: 20px;
  }
  .feature-section p {
    font-size: 18px;
  }

  .carousel-container h2 {
    font-size: 32px;
  }

  .progress-indicator {
    gap: 30px;
  }
}

@media (max-width: 1075px) {
  .section {
    padding: 70px 70px;
  }

  .feature-section p {
    font-size: 14px;
  }

  .carousel-image {
    height: 500px;
    padding-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .text-group h1 {
    font-size: 60px;
  }
  .text-group h1 img {
    width: 200px;
  }

  .carousel-content {
    flex-direction: column-reverse;
  }

  .carousel {
    width: 350px;
  }

  .carousel-text {
    display: flex;
    gap: 10px;
    margin-top: -120px;
    font-size: 15px !important;
  }

  .step-number {
    padding: 5px 12px;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  .carousel-cta {
    margin-top: 20px;
  }

  .progress-step {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .progress-indicator {
    gap: 20px;
    padding: 0 20px;
  }
  .progress-indicator span:last-child::after {
    right: -20px;
  }
  .feature-section p {
    font-size: 10px;
  }
  .feature-section img {
    width: 10px;
  }
}

@media (max-width: 680px) {
  .text-group h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .buttons a {
    width: 100%;
    margin-bottom: 20px;
    padding: 16px;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .section {
    padding: 32px 22px;
  }
  .text-group h1 {
    font-size: 42px;
  }
  .text-group h1 img {
    width: 150px;
  }

  .feature-section p {
    font-size: 14px;
  }

  .carousel-container {
    padding: 32px 33px;
  }

  .carousel-control-prev {
    margin-left: 20px;
  }

  .carousel-control-next img,
  .carousel-control-prev img {
    width: 25px;
    height: 25px;
  }

  .carousel-image {
    height: 100%;
  }
}

@media (max-width: 420px) {
  .section {
    padding: 32px 22px 0px 22px;
  }
  .text-group {
    padding-right: 30px;
  }
  .text-group h1 {
    font-size: 32px;
    line-height: 125%;
  }
  .description {
    font-size: 18px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.09px;
    margin-bottom: 5px !important;
  }

  .text-group h1 img {
    width: 130px;
  }

  .image-group {
    margin-bottom: -10px;
  }

  .feature-item {
    gap: 5px;
  }

  .mobile-buttons .button {
    margin-bottom: 5px;
  }

  .mobile-buttons {
    margin-bottom: 15px;
  }

  .mobile-note {
    font-size: 12px;
    font-style: italic;
    color: #71717a;
    margin-bottom: 32px;
  }
  .carousel-container h2 {
    font-size: 24px;
  }
  .progress-indicator::before {
    height: 1px;
  }
}

@media (max-width: 365px) {
  .carousel {
    padding-left: 30px;
  }
  .progress-indicator {
    gap: 10px;
    margin-bottom: 0px;
  }
  .progress-step {
    width: 21.9px;
    height: 21.9px;
    font-size: 11.326px;
  }
  .carousel-text {
    font-size: 13.392px !important;
    font-weight: 400;
    line-height: 15.305px;
  }
  .feature-section p {
    font-size: 10.125px;
  }
  .feature-section {
    gap: 5px;
  }
  .carousel-text {
    margin-top: -110px;
  }
}
